.mdl-ui-upload
    border-radius 8px

    .material-icons
        color white

div
    .no-image
        background-color rgba(0,0,0,0.2)
        border-color rgba(0,0,0,0.3)
        border-style dashed
        border-width 2px

    .with-image
        background-position center
        background-size cover
        background-repeat no-repeat
