.mdl-ui-upload
  .label
    color rgb(63,81,181)
    font-size 12px
    top 4px

  .material-icons
    color white
  .preview
    display flex
    border-radius 8px
    min-height 200px
    .expand
      flex-grow 1
    .menu
      top 16px
      right 16px

div
  .no-image
    background-color rgba(0, 0, 0, 0.18)
    border-color rgba(0, 0, 0, 0.3)
    border-style dashed
    border-width 1px

  .with-image
    background-position center
    background-size cover
    background-repeat no-repeat
